@font-face{font-family: Corals; src: url(Fonts/Corals.otf);}
@font-face{font-family: Cooper; src: url(Fonts/CooperHewitt-Light.otf);}
@font-face{font-family: CooperHewittThin; src: url(Fonts/CooperHewitt-Thin.otf);}
@font-face{font-family: PTSans; src: url(Fonts/PTSans.ttf);}
@font-face{font-family: PTSansNarrow; src: url(Fonts/PTSansNarrow.ttf);}
@font-face{font-family: PTSansItalic; src: url(Fonts/PTSansItalic.ttf);}


.App {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#wrapperContainer{
    width: 100%;
    clear: all;
    visibility: visible;
}

#logo{
    margin-left: 2.5vw;
    margin-top: 1vw;
}

.tile{
  height: 200px;
  width: 200px;
  float: left;
  margin: 1vw 2vw 1vw 2vw;
  border-style: solid;
  border-width: 1px; 
  border-color: #212121; 
  overflow-x:hidden;
  text-align: left;
  font-size: 14px; 
  resize: vertical;
  background-color: white;
  position: relative;
  cursor: pointer;
  padding:5px;
}


.newEntryForm{
    width:100%;
}

.textInput{
  width:100%;
}


.meta{
  background-color: #02fab4;
}

.quote{ 
    margin-top: 10px; 
    font-family: PTSans;
}

.source{
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  clear: all;
  padding-top: 10px;
  bottom: 0;
  font-family: Corals;
  font-size: 23px;
    font-weight: bold; 
    
}

#instruct{
  text-align: left;
  padding-left: 8vw;
  color: darkgray;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#cards{
  align-content: space-around;
}

#formHeader{
    font-size:24px;
}

#filters{
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    font-family: Corals;
    margin-right: 3vmax;
}

#midline{
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #212121;
}

#sidebar{
  padding-top: 7px;
}

#filterHead{
    font-size: 24px; 
    margin-bottom: 5px;
    margin-top: 5px; 
    text-align: left;
    font-family: corals;
        margin-left:10px;
}

.text { 
  color: red;
  font-size: 16px;
    font-weight: bold; 
  position: absolute;
  overflow: hidden;
  top: 20%;
  left: 50%;
   /** margin-left: 5vw;
    margin-right: 6vw;*/
    width: 15vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
    font-family: Corals;
}

.display {
    padding-bottom: 30px;
    height: 35%;
    width: 85%;
    margin-left: 10px;
    
}

#sidebarContainer {
    border-top: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}

#metadataFilter {
    padding-top: 0px;
}

.invisibleDot {
    margin-left: 100px;
    visibility: visible;

}

#invisButton {
    border: 0px;
    font-size: 36px;
    font-weight: bold; 

}

#author {
    visibility: visible;
    width: 100%;
}

.sourceInfo {
   visibility: visible
    
}
